/**
 * =============================================================================
 * Starter styles
 *
 * Sensible defaults which can be used as starting point for the projects.
 * =============================================================================
 */

html {
	line-height: 1.5;
}

html,
button,
input,
optgroup,
select,
textarea {
	font-size: 100%; font-family: sans-serif;
	color: #333;
}
